---
layout: default
title: jots
---

	<div class="large-3 columns sidebar">
		{% include sidebar.html %}
	</div>
	<div class="large-6 columns main-content">
  	<div class="row link-slideright">
			{% for post in site.posts limit:5 %}
			<h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
			<span class="post-date">{{ post.date | date_to_long_string }}</span>
			{{ post.content }}
			{% endfor %}
		</div>
	</div>
	<div class="large-3 columns">
		<p class="no-content"></p>
	</div>