<div class="sidebar-nm">
	<a href="http://www.lisaburford.com">
		<img src="http://www.lisaburford.com/images/LisaBurford_Logo.svg" onerror="this.onerror=null; this.src='http://www.lisaburford.com/images/LisaBurford_Logo.png'" alt="Lisa Burford Logo">
	</a>
	<div class="subname">designer-coder hybrid
	</div>
</div>
<ul class="link-navleft">
	<li><h1><a href="index.html"><span class="j-1">j</span><span class="j-2">o</span><span class="j-3">t</span><span class="j-4">s</span></a></h1></li>
	<li><a href="http://www.lisaburford.com">portfolio</a></li>
	<li><a href="https://twitter.com/devburford">@devburford</a></li>
</ul>